.updateTime {
  font-size: 12px;
  color: #afafaf;
  margin-left: 20px;
  transform: translateY(7px);
  margin-right: 10px;
}

.btn {
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0;
  margin-left: 8px;

  &:last-of-type {
    margin-right: 20px;
  }
}
