[submodule "mini-vite"]
	path = mini-vite
	url = https://github.com/wuliguaiguaia/mini-vite.git
[submodule "mini-vue"]
	path = mini-vue
	url = https://github.com/wuliguaiguaia/mini-vue.git
[submodule "mini-vue3"]
	path = mini-vue3
	url = https://github.com/wuliguaiguaia/mini-vue3.git
[submodule "z-wheel"]
	path = z-wheel
	url = https://github.com/wuliguaiguaia/z-wheel.git
[submodule "react-blog/blog"]
	path = react-blog/blog
	url = https://github.com/wuliguaiguaia/blog.git
[submodule "react-blog/blog-server"]
	path = react-blog/blog-server
	url = https://github.com/wuliguaiguaia/blog-server.git
[submodule "git-test"]
	path = git-test
	url = https://github.com/wuliguaiguaia/git-test.git
