[submodule "mini-vite"]
	path = mini-vite
	url = https://github.com/wuliguaiguaia/mini-vite.git
[submodule "mini-vue"]
	path = mini-vue
	url = https://github.com/wuliguaiguaia/mini-vue.git
[submodule "z-wheel"]
	path = z-wheel
	url = https://github.com/wuliguaiguaia/z-wheel.git
